.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
data
data_a100
data_balduran
data_claptrap
mask_comparison_image_video/
wandb/
plots/
saved_models/
*.out
work_dirs/*
.dist_test/*
tmp_ckpts/*
images/*
results_jsons/*
debugging_plots/*
compare_runs/*
checkpoints/*
*.pth
tmp_ckpts
work_dirs
checkpoints
pca_kmeans_vis/*
vis_output/*
results_analysis/*
test_outputs/*
few_shot_results/*
lvis_results/*
results_analysis
inst_to_segm/*
notebooks/videos/*